<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="pageHead(title)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}"></title>
        <link href="./vendor/bootstrap-5.3.3/bootstrap.min.css" rel="stylesheet">
        <link href="./css/fonts.css" rel="stylesheet">
        <link href="./css/main.css" rel="stylesheet">
    </th:block>
</head>
<body>
<footer class="text-center mt-5" th:fragment="footer">
    <hr />

    <p>&copy; 2025 Casual Challenge. All rights reserved.</p>
    <p>
        <small>
            The information presented on this site about <b>Magic: The Gathering</b>, both literal and graphical, is copyrighted by <b>Wizards of the Coast</b>.<br />
            This website is not produced, endorsed, supported, or affiliated with <b>Wizards of the Coast</b>.
        </small>
    </p>
</footer>

<script src="./vendor/bootstrap-5.3.3/bootstrap.bundle.min.js" th:fragment="scripts"></script>
</body>
</html>
