<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: pageHead('Casual Challenge API')}"></th:block>
</head>
<body>
<div class="container py-5 d-flex flex-column min-vh-100" style="max-width: 47em;">
    <header class="text-center mb-5">
        <h1 class="display-4">Casual Challenge API</h1>
        <p class="lead">Build tools for the best Magic: The Gathering budget format.</p>
    </header>

    <main>
        <section class="mb-4 text-center">
            <a href="./docs" class="btn btn-primary btn-lg mb-3">API Documentation</a>
            <a href="./bans" class="btn btn-secondary btn-lg mb-3">Ban List</a>
            <a href="https://www.casualchallenge.gg" class="btn btn-secondary btn-lg mb-3">Go to Player Page</a>
        </section>

        <section class="mb-4">
            <h2>API Access</h2>
            <p>
                All requests to <code>https://api.casualchallenge.gg/v1/...</code> require an API token.
                You can get a token by reaching out to <strong class="text-danger">Raoul, Merchant of the Void</strong> via Discord.
            </p>
        </section>

        <section>
            <h2>Motivation</h2>
            <p>
                This API provides machine-readable data about cards in our custom
                <strong>Magic: the Gathering</strong> format, <strong>Casual Challenge</strong>.
            </p>
            <p>
                The goal is to empower tech-savvy players to build their own tools,
                explore new ideas, and contribute to developing the format further.
            </p>
            <p>Not sure why you’re here? Maybe you were looking for the <a href="https://www.casualchallenge.gg">format homepage</a>?</p>
        </section>
    </main>

    <footer th:replace="~{fragments/layout :: footer}"></footer>
</div>

<script th:replace="~{fragments/layout :: scripts}"></script>
</body>
</html>
